<h1><%= @workout ? 'Edit Workout' : 'Create Workout' %></h1>

<% if @errors %>
  <div class="error">
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/workouts<%= @workout ? "/#{@workout.id}" : "" %>" method="POST">
  <% if @workout %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= @workout ? @workout.name : "" %>" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" required><%= @workout ? @workout.description : "" %></textarea>

  <input type="submit" value="<%= @workout ? 'Update' : 'Create' %> Workout">
</form>
